body {
	background: rgb(240, 240, 240);
	color: rgb(20, 20, 20);
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	color: palevioletred;

}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}
a {
	text-decoration: none;
	color: blue;
}
a:hover {
	text-decoration: none;
	color: green;

}
img	{
	width: 150px;
}


/* Custom Design */
#banner {
	background-image: url('https://apod.nasa.gov/apod/image/2204/N11_HubbleLake_1600.jpg');
	background-size: cover;
	padding: 150px 0;
	text-align: center;
	color: ghostwhite;
	line-height: 3;
}

#banner h1 {
 color:ghostwhite 
}
 

#banner p { 
	color: ghostwhite;
    font-size: 30px;
    font-wheight: lighter; 
    opacity: 0.7;
}

.card {
	padding: 50px;
	text-align: center;
 }


 #footer {
 	padding: 20px;
 	color: ghostwhite;
 	background-color: black;
 	text-align: left;
 }

 #footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}
